<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body id="loginBodyPage">
        <div id="loginBox">
            <h1 id="loginTitle">Chat Room</h1>
            <form action="/" method="post">
                <span th:errors="${user.username}" class="errorMessage"></span>
                <input type="text" id="username" name="username" 
                minlength="3" maxlength="12" placeholder="Enter your username" required>
                <input type="submit" value="Login" id="loginButton">
            </form>
        </div>        
    </body>
</html>